data/raw-data/Crimes_-_2001_to_Present_20260218.csv
data/derived-data/derived_crime.cpgdata/derived-data/derived_crime.dbfdata/derived-data/derived_crime.prjdata/derived-data/derived_crime.shpdata/derived-data/derived_crime.shx